body
{	
	margin: 0;
	padding: 0;
}
.nav
{
	flex: 1;
	order: 2;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}
.error {
  border: 2px solid rgb(255, 0, 0);
}
.error1{
  text-decoration: underline rgb(255, 0, 0);
}
#messages{
	margin-bottom: 10px;
	color: rgb(255, 0, 0);
}
